<div class="row mb-3">
  <div class="col-12">
      <a routerLink="/base/cards">
        <button class="btn btn-success pull-right waves-effect waves-classic waves-effect waves-classic text-white" type="button">
          <span class="fa fa-arrow-left"></span> Retour a la liste des dossiers
        </button>
      </a>
    </div>
</div>

<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
          <span class="fa fa-eye"></span> Details du dossier {{ folder.nom }}
        </h5>
      </c-card-header>
      <c-card-body>
        <div class="table table-responsive  table-striped">
          <div class="row">
              <div class="col-4">
                <label>
                  Show
                  <select name="dataT_length" aria-controls="dataT" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries
                </label>
              </div>
              <div class="col-8">
                <div class="col-sm-12 col-md-6"><div id="dataT_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataT">
                </label>
                </div>
                </div>
              </div>
            </div>
       
              <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                <tr>
                    <th   style="width: 8.5px;">#</th>
                    <th   style="width: 25px;">Details</th>
                    <th   style="width: 25px;">Libellé</th>     
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Etat du cycle</td>
                    <td><b>{{ folder.cycle }}</b>
                  </tr>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Agent concerné</td>
                    <td><b>{{ folder.user.username }}</b>
                  </tr>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Nom du client</td>
                    <td><b>{{ folder.client.name }}</b>
                  </tr>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Date de création</td>
                    <td><b>{{ folder.dateCreation }}</b>
                  </tr>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Date de promesse</td>
                    <td class="text-warning"><b>{{ folder.datePromesse }}</b>
                  </tr>
                  <tr>
                    <td class="text-primary">i</td>
                    <td >Delai restant</td>
                    <td class="text-danger"><b>{{ folder.delai }} Jr</b>
                  </tr>

                </tbody>
              </table>
    
          </div>
    
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

