<c-row ngPreserveWhitespaces>
   
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Cycles</strong> <small>Banking recover</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Informations generales.
        </p>
      
          <table cTable  [striped]="true"  [hover]="true"  [bordered]="true" >
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Noms</th>
              <th scope="col">Email</th>
              <th scope="col">Telephone</th>
              <th scope="col">Statut</th>
              <th scope="col">Profil</th>
              <th scope="col">Role</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>@mdo</td>
              <td>691784512</td>
              <td style="color:green">Actif</td>
              <td>Img</td>
              <td style="color:rgb(146, 103, 24)">Agent</td>
              <td >
                  <button class="btn btn-primary">Editer </button>
                  <button class="btn btn-danger text-white">Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
  
      </c-card-body>
    </c-card>
  </c-col>

</c-row>

