<c-row ngPreserveWhitespaces>
  <c-col xs="10"  class="col-lg-8 col-md-8 offset-md-2 offset-lg-2">

      <c-card class="mb-4">
        <c-card-header>
          <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
            <span class="fa fa-edit "></span> Mettre à jour un dossier
        </h5>
        </c-card-header>
        <c-card-body>
      
            <form cForm  (ngSubmit)="save()" >
            
  
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Désignation</label>
                <input cFormControl 
                       id="Name1"
                       placeholder="Code du dossier"
                       type="text"
                       name="nom" 
                       [(ngModel)] = "folder.nom"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="examplet1">Montant</label>
                <input cFormControl 
                       id="montant"
                       placeholder="Saisir votre montant"
                       type="number"
                       name="montant" 
                       [(ngModel)] = "folder.montant"
                       />
              </div>
             
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Delais</label>
                <input cFormControl 
                          id="Delais1"
                          placeholder="Saisir un delai en nombre de jour"
                          type="number"
                          [(ngModel)] = "folder.delai"
                         name="delai"     />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Date de promesse</label>
                <input cFormControl 
                          id="Promeuss1"
                          placeholder=""
                          type="date"
                          [(ngModel)] = "folder.datePromesse"
                         name="datePromesse"   />
              </div>         
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Cycle</label>
                <select aria-label="Default " cSelect    name="cycle" >
                  <option>Selectionner un cycle </option>
                  <option value="0">Cycle-0</option>
                  <option value="1">Cycle-1</option>
                  <option value="2">Cycle-2</option>
                  <option value="3">Cycle-3</option>
                  <option value="4">Cycle-4</option>
                  <option value="5">Cycle-5</option>
                </select>
              </div>

           
              <div class="col-lg-6 col-md-6 text-center offset-3">
                <button type="submit" class="btn btn-primary mt-40 waves-effect waves-classic">
                    <span class="fa fa-save"></span> Mettre à jour
                </button>
            </div>
             
            </form>
      
        </c-card-body>
      </c-card>
    </c-col>

  </c-row>
  
  

