<div class="row mb-3">
  <div class="col-12">
      <a routerLink="/forms/add-folder">
        <button class="btn btn-success pull-right waves-effect waves-classic waves-effect waves-classic text-white" type="button">
          <span class="fa fa-plus"></span> Ajouter un dossier
        </button>
      </a>
    </div>
</div>

<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
          <span class="fa fa-file"></span> Liste des dossiers
        </h5>
      </c-card-header>
      <c-card-body>
        <div class="table table-responsive  table-striped">
          <div class="row">
              <div class="col-4">
                <label>
                  Show
                  <select name="dataT_length" aria-controls="dataT" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries
                </label>
              </div>
              <div class="col-8">
                <div class="col-sm-12 col-md-6"><div id="dataT_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataT">
                </label>
                </div>
                </div>
              </div>
            </div>
       
              <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                <tr>
                  <th   style="width: 8.5px;">#</th>
                  <th   style="width: 8.5px;">Designation</th>
                  <th   style="width: 8.5px;">Montant</th>
                  <th   style="width: 8.5px;">Catégorie</th>
                  <th   style="width: 8.5px;">Versement</th>
                  <th   style="width: 8.5px;">Total Versement</th>
                  <th   style="width: 8.5px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let folder of folders" >
                    <td class="text-primary">i</td>
                    <td class="text-center"><b><p>{{ folder.nom }}</p> </b>
                      <i class="fa fa-folder  text-warning waves-effect waves-classic fa-2x"></i>
                    </td>
                  <td>{{ folder.montant }} XAF</td>
                  <td class="text-center">{{ folder.client.type }}</td>
                  <td class="text-success brand-text">{{ folder.versement }} XAF</td>
                  <td class="text-black brand-text "><b>{{ folder.montantTotal }} XAF</b></td>
                  <td class="text-center">
                    <a class="btn-intab btn btn-purple eye-detail waves-effect waves-classic" (click) = "detailFolder(folder.id)" title="Detail du dossier" ><span   class="fa fa-eye"></span></a>
                    <a class="btn btn-info btn-sm waves-effect waves-classic"  (click) = "updateFolder(folder.id)" title="Modifier"><span class="fa fa-edit" ></span></a>
                    <!-- <a class="btn btn-danger btn-sm delete-user waves-effect waves-classic"  (click) = "updateStateFolder(folder.id)"  title="Désactiver"><span class="fa fa-bell" ></span></a>   -->
                
                  </td>
                  </tr>   
                <tr>
              
                </tbody>
              </table>
    
          </div>
    
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

