<div class="row mb-3">
  <div class="col-12">
    <a routerLink="/forms/add-folder">
        <button class="btn btn-outline-warning pull-right waves-effect waves-classic waves-effect waves-classic text-black " type="button">
          <span class="fa fa-calendar"></span> Augmenter la date de promesse sur la liste en cliquant sur l'icone du calendrier !
        </button>
      </a>
    </div>
</div>

<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
          <span class="fa fa-file"></span> Liste des dossiers <span class="text-danger"> expirés</span> 
        </h5>
      </c-card-header>
      <c-card-body>
        <div class="table table-responsive  table-striped">
          <div class="row">
              <div class="col-4">
                <label>
                  Show
                  <select name="dataT_length" aria-controls="dataT" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries
                </label>
              </div>
              <div class="col-8">
                <div class="col-sm-12 col-md-6"><div id="dataT_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataT">
                </label>
                </div>
                </div>
              </div>
            </div>
       
              <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                <tr>
                  <th   style="width: 8.5px;">#</th>
                  <th   style="width: 8.5px;">Désignation</th>
                  <th   style="width: 8.5px;">Delais</th>
                  <th   style="width: 8.5px;">Date de promesse</th>
                  <th   style="width: 8.5px;">Versement</th>
                  <th   style="width: 8.5px;">Total Versement</th>
                  <th   style="width: 8.5px;">Etat</th>
                
              
                  <th   style="width: 8.5px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let folder of folders" >
                    <td class="text-primary">i</td>
                  <td class="text-center"><b><p>{{ folder.nom }}</p> </b>
                    <i class="fa fa-folder  text-warning waves-effect waves-classic fa-2x"></i>
                  </td>
                  <td class="text-danger">{{ folder.delai }}</td>
                  <td class="text-danger">{{ folder.datePromesse }}</td>
                  <td class="text-success brand-text">{{ folder.versement }} XAF</td>
                  <td class="text-danger brand-text"><b>{{ folder.montantTotal }} XAF</b></td>
                
                  <td class="text-center">
                    <span class="fa fa-circle text-danger" title="Expiré"></span>
                  </td>
                 
                  <td class="text-center">
                     <!-- <a class="btn btn-danger btn-sm text-white waves-effect waves-classic" href=""><span class="fa fa-edit" title="Desactiver">désactiver</span></a><br> -->
                      <a class="btn btn-success btn-sm text-white waves-effect waves-classic"  (click) = "addDatePromesse(folder.id)"  title="Augmenter la date de promesse"><span class="fa fa-calendar" title="Ajouter"></span></a>
                  </td>
             
                  </tr>   
                <tr>

                </tbody>
              </table>
    
          </div>
    
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

