<c-row ngPreserveWhitespaces>
  <c-col xs="10"  class="col-lg-8 col-md-8 offset-md-2 offset-lg-2">
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
          <span class="fa fa-edit "></span> Mettre à jour un utilisateur.
      </h5>
      </c-card-header>
      <c-card-body>
     
          <form cForm  (ngSubmit)="save()">
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Noms</label>
              <input cFormControl 
                     id="Name1"
                     placeholder="your name"
                     type="text"
                     [(ngModel)] = "user.username"
                     name="username" 
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Adresse mail</label>
              <input cFormControl 
                     id="mail"
                     placeholder="name@example.com"
                     type="email"
                     [(ngModel)] = "user.email"
                     name="email" 
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Login</label>
              <input cFormControl 
                     id="login"
                     placeholder="your login"
                     type="text"
                     [(ngModel)] = "user.login"
                     name="login" 
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Téléphone</label>
              <input cFormControl 
                     id="Phone1"
                     [(ngModel)] = "user.telephone"
                     placeholder="your phone number"
                     type="number"
                     name="telephone" 
              />
            </div>
           
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Role</label>
              <select aria-label="Default " cSelect     name="role" >
                <option>Selectionner un role </option>
                <option value="Agent">Agent</option>
                <option value="Admin">Administrateur</option>
        
              </select>
            </div>
            <div class="col-lg-6 col-md-6 text-center offset-3">
                <button type="submit" class="btn btn-primary mt-40 waves-effect waves-classic">
                    <span class="fa fa-save"></span> Mettre à jour
                </button>
            </div>
           
          </form>
    
      </c-card-body>
    </c-card>
  </c-col>

</c-row>



