<c-row ngPreserveWhitespaces>

  <c-col xs="10">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Ajouter un nouveau versement </strong>
      </c-card-header>
      <c-card-body>
     
          <form cForm  [formGroup]="dataForm" (ngSubmit)="save()" >
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Designation du dossier</label>
              <input read cFormControl  readonly="readonly"
                     id="Name1"
                     placeholder="Name of the folder"
                     type="text"
                     formControlName="nom" 
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Delais</label>
              <input cFormControl 
                      
                        id="Delais1"
                        placeholder=""
                        type="date"
                     formControlName="delai" 

                />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Date de promesse</label>
              <input cFormControl  readonly="readonly"
                        id="Promeuss1"
                        placeholder=""
                        type="date"
                     formControlName="datePromesse" 

                />
            </div>

            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Client</label>
              <select aria-label="Default " cSelect formControlName="client" class="select2"  >
                  <option>Selectionner le client concerné </option>
                  <option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}} de categorie {{client.type}} </option>
              </select>
            </div>
      
            <div class="mb-3">
              <label cLabel for="examplet1" class="text-success"><b> Montant du versement </b></label>
              <input cFormControl 
                     id="montant"
                     placeholder="Saisir votre montant"
                     type="number"
                     formControlName="montant" 
              />
            </div>
          
            <button cButton class="mb-3 mr-1"  type="submit">
               Enregistrer
            </button>
           
          </form>
    
      </c-card-body>
    </c-card>
  </c-col>

</c-row>



