<c-row ngPreserveWhitespaces>
  <c-col xs="10"  class="col-lg-8 col-md-8 offset-md-2 offset-lg-2">

      <c-card class="mb-4">
        <c-card-header>
          <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
            <span class="fa fa-plus-circle "></span> Ajouter un nouveau dossier
        </h5>
        </c-card-header>
        <c-card-body>
      
            <form cForm  [formGroup]="dataForm" (ngSubmit)="save()" >
            
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Client</label>
                <select aria-label="Default " cSelect formControlName="client"  >
                    <option>Selectionner le client concerné </option>
                    <option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}} de categorie {{client.type}} </option>
                </select>
              </div>

              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Designation</label>
                <input cFormControl 
                       id="Name1"
                       placeholder="Code du dossier"
                       type="text"
                       formControlName="nom" 
                />
              </div>
              <div class="mb-3">
                <label cLabel for="examplet1">Montant</label>
                <input cFormControl 
                       id="montant"
                       placeholder="Saisir votre montant"
                       type="number"
                       formControlName="montant"    />
              </div>
             
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Delais</label>
                <input cFormControl 
                          id="Delais1"
                          placeholder="Saisir un delai en nombre de jour"
                          type="number"
                       formControlName="delai"     />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Date de promesse</label>
                <input cFormControl 
                          id="Promeuss1"
                          placeholder=""
                          type="date"
                       formControlName="datePromesse"   />
              </div>         
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Cycle</label>
                <select aria-label="Default " cSelect    formControlName="cycle" >
                  <option>Selectionner un cycle </option>
                  <option value="0">Cycle-0</option>
                  <option value="1">Cycle-1</option>
                  <option value="2">Cycle-2</option>
                  <option value="3">Cycle-3</option>
                  <option value="4">Cycle-4</option>
                  <option value="5">Cycle-5</option>
                </select>
              </div>

              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Agent</label>
                <select aria-label="Default " cSelect    formControlName="user" >
                    <option>Selectionner l'Agent concerné </option>
                    <option *ngFor="let agent of agents" [ngValue]="agent.id">{{agent.username}}</option>
                </select>
              </div>
           
          

              <div class="col-lg-6 col-md-6 text-center offset-3">
                <button type="submit" class="btn btn-primary mt-40 waves-effect waves-classic">
                    <span class="fa fa-save"></span> Enregistrer
                </button>
            </div>
             
            </form>
      
        </c-card-body>
      </c-card>
    </c-col>

  </c-row>
  
  

