<div class="row mb-3">
  <div class="col-12">
    <a routerLink="/forms/add-folder">
        <button class="btn btn-success pull-right waves-effect waves-classic waves-effect waves-classic text-white" type="button">
          <span class="fa fa-plus"></span> Ajouter un dossier
        </button>
      </a>
    </div>
</div>

<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
          <span class="fa fa-file"></span> Liste des dossiers <span class="text-success"> actifs</span> 
        </h5>
      </c-card-header>
      <c-card-body>
        <div class="table table-responsive  table-striped">
          <div class="row">
              <div class="col-4">
                <label>
                  Show
                  <select name="dataT_length" aria-controls="dataT" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries
                </label>
              </div>
              <div class="col-8">
                <div class="col-sm-12 col-md-6"><div id="dataT_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataT">
                </label>
                </div>
                </div>
              </div>
            </div>
       
              <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                <tr>
                  <th   style="width: 8.5px;">#</th>
                  <th   style="width: 8.5px;">Designation</th>
                  <th   style="width: 8.5px;">Montant</th>
                  <th   style="width: 8.5px;">Etat</th>
                  <th   style="width: 8.5px;">Versement</th>
                  <th   style="width: 8.5px;">Total Versement</th>
                  <th   style="width: 12px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let folder of folders" >
                    <td class="text-primary">i</td>
                    <td class="text-center"><b><p>{{ folder.nom }}</p> </b>
                      <i class="fa fa-folder  text-warning waves-effect waves-classic fa-2x"></i>
                    </td>
                  <td>{{ folder.montant }} XAF</td>
                  <td class="text-center">
                      <span *ngIf="folder.actif==true;else elseBlock">
                         <span class="fa fa-circle text-success" title="Actif"></span>
                    </span>
                    <ng-template #elseBlock>
                        <span class="fa fa-circle text-danger" title="Inactif"></span>
                      </ng-template>
                  </td>
                  <td class="text-success brand-text">{{ folder.versement }} XAF</td>
                  <td class="text-danger brand-text"><b>{{ folder.montantTotal }} XAF</b></td>
                  <td class="text-white">
                        <a  style="background: #563d7c;" class="btn-intab btn  btn-sm text-white  eye-detail waves-effect waves-classic" (click) = "detailFolderActif(folder.id)"  title="Detail du dossier" ><span class="fa fa-eye"></span></a>
                       <!-- Space Status of Folder -->
                       <span *ngIf="folder.actif==true;else elseBlockLink">
                            <a class="btn btn-danger btn-sm text-white waves-effect waves-classic"  (click) = "updateStateFolder(folder.id)"  title="Désactiver"  ><span class="fa fa-bell" ></span></a>
                      </span>
                      <ng-template #elseBlockLink>
                         <a class="btn btn-success btn-sm text-white waves-effect waves-classic" (click) = "activatedFolder(folder.id)"  title="Activer"><span class="fa fa-bell" ></span></a>  
                      </ng-template>
                     
                       <!-- End Spce -->
                        <a class="btn btn-info btn-sm text-white waves-effect waves-classic" (click) = "addVersement(folder.id)"><span class="fa fa-coins" title="Ajouter un versement"></span></a>
                  </td>
               
                  </tr>   
               

              
                </tbody>
              </table>
    
          </div>
    
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

