<c-row ngPreserveWhitespaces>
    <c-col xs="10"  class="col-lg-8 col-md-8 offset-md-2 offset-lg-2">
      <c-card class="mb-4">
        <c-card-header>
          <h5 class="brand-text text-center font-size-10 text-black " style="font-weight: bold">
            <span class="fa fa-user "></span> Ajouter un utilisateur
        </h5>
        </c-card-header>
        <c-card-body>
       
            <form cForm   [formGroup]="dataForm" (ngSubmit)="save()">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Noms</label>
                <input cFormControl 
                       id="Name1"
                       placeholder="your name"
                       type="text"
                       formControlName="username" 
                />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Adresse mail</label>
                <input cFormControl 
                       id="exampleFormControlInput1"
                       placeholder="name@example.com"
                       type="email"
                       formControlName="email" 
                />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Telephone</label>
                <input cFormControl 
                       id="Phone1"
                       placeholder="your phone number"
                       type="number"
                       formControlName="telephone" 
                />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Profil</label>
                <input 
                cFormControl
                 id="formFile"
                 type="file" 
                 formControlName="profil" 
                />
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Role</label>
                <select aria-label="Default " cSelect     formControlName="role" >
                  <option>Selectionner un role </option>
                  <option value="Agent">Agent</option>
                  <option value="Admin">Administrateur</option>
          
                </select>
              </div>
              <div class="col-lg-6 col-md-6 text-center offset-3">
                  <button type="submit" class="btn btn-primary mt-40 waves-effect waves-classic">
                      <span class="fa fa-save"></span> Enregistrer
                  </button>
              </div>
             
            </form>
      
        </c-card-body>
      </c-card>
    </c-col>

</c-row>


  
