
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
         Diagramme en Baton
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
         Diagramme Lineaire
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartLineData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Estimation par Doughnut 
        </c-card-header>
        <c-card-body>
          <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
         Taux de recouvrement en diagramme circulaire
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Diagramme Polaire 
        </c-card-header>
        <c-card-body>
          <c-chart type="polarArea" [data]="chartPolarAreaData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
        Diagramme en radard
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
